/*文字化け防止*/

@charset "UTF-8";

/* 共通部分
--------------------------------------*/
 /*全てのフォント設定*/
body {
	font-family: "しっぽり明朝 TTF";
}

/*ユーザーの設定した文字サイズを正しく表示*/
html {
	font-size: 100%;
}

.bold {
	font-family: "コーポレート・ロゴＢ";
}

/* --------------------------------------*/
/*へッダー*/

.big-bg{
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;   
	height: 100vh;
}
/* 大きな背景画像*/
#home {
	background-image: url(../images/snowfall-201496_1920.jpg);
	width:100%;
	min-height: 100vh;
}

.wrapper {
	max-width: 100%;
}
/*------ヘッダー右ボタン------*/
.main-nav {
	margin-left: 60%;
	display: flex;
	list-style: none;
}

.main-nav li {
	/*左間隔を空ける*/
	margin-top: 90px;
	margin-left: 53px;
}

/*リンク詳細設定*/
.main-nav a {
	font-size: 30px;
	display: inline-block;
	text-decoration: none;
	color: #000000;
	text-align: center;
}
/*ヘッダーボタンカーソル乗せた時の動き設定*/
.main-nav a:hover{
	color: #D6A3D0;
}
/* --------------------------------------*/

/*------ヘッダータイトル------*/
.home-content {
	text-align: center;
	margin-top: 20%;
	letter-spacing: 0.75em
}

.home-content p {
	line-height: 1.9;
	font-size: 30px;
	padding-top: 10px; 
}

h2 {
	font-size: 60px;
}
/* --------------------------------------*/

/*------メインコンテンツー------*/

.main-content {
	display: flex;
	justify-content: center;
}

.main-content p{
	width: 510px;
	margin-top: 70px;
	margin-right: 10px; 
}

.index {
	margin-top: 10%;
	text-align: center;
	font-size: 60px;
}

#content-img {
	padding: 10px 40px;
	width: 530px;
	margin-top: 70px;
	margin-right: 10px; 
}

.fadein {
	opacity: 0.1;
	transform: translate(0, 50px);
	transition: all 500ms;
}

/*画面内に入った状態*/
.fadein.scrollin {
	opacity: 1;
	transform: translate(0,0);
}
/* --------------------------------------*/

/*------フッター------*/
footer {
	background: #F4E9F2;
	text-align: center;
	padding: 40px 0; 
}

footer p {
	font-family: "Apple LiGothic";
}
/* --------------------------------------*/